<div class="box">
  <h1 class="h">Post_posts</h1>
  <%= link_to '新規投稿', '/posts/new',class:'new_p' %>

  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-date">
        投稿日時：<%= post.created_at %>
      </div>
      <div class="post-content">
        <%= post.content %>
      </div>
    </div>
  <% end %>
</div>
<small class="foot"><span class="saku">seiji enmoto</span></small>