/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  list-style: none;
  text-decoration: none;
}

.new_p{
  font-weight: bold;
  font-size: 20px;
}

.fon{
  font-family: cursive;
  font-size: 60px;
  font-weight: inherit;
}

.inp1{
  width: 400px;
  height: 50px;
  border-radius: 10px;
}
.inp2{
  /* width: 400px; */
  height: 50px;
  border-radius: 10px;
}
.inp3{
  /* width: 400px; */
  height: 50px;
  border-radius: 10px;
}
.inp4{
  width: 400px;
  height: 50px;
  border-radius: 10px;
}
.foot{
  display: flex;
  /* text-align: right; */
  justify-content: space-evenly;
  width: 100%;
}
.saku{
font-size: 1px;
color: darkmagenta;
}